

/* These css properties cascade down into all elements and components through the file structure.
   This might lead to conflicits in larger applications.*/

.headerwrapper{
  max-width: 60rem;
  margin-left: auto;
  margin-right:auto;
}

.bodywrapper{
  max-width: 60rem;
  margin-left: auto;
  margin-right:auto;
}

.footerwrapper{
  max-width: 60rem;
  margin-left: auto;
  margin-right:auto;
}

.button1 {
  background-color: #ccc;
  color: #aaa;
  font-size: 30px;
}


.buttongrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

