

/* These css properties cascade down into all elements and components through the file structure.
   This might lead to conflicits in larger applications.*/

.sitewrapper{
  max-width: 40rem;
  margin-left: auto;
  margin-right:auto;
}


.headerwrapper{
  max-width: 60rem;
  margin-left: auto;
  margin-right:auto;
}

.bodywrapper{
  max-width: 60rem;
  margin-left: auto;
  margin-right:auto;
}

.footerwrapper{
  max-width: 60rem;
  margin-left: auto;
  margin-right:auto;
}

.buttongrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 60em;
}

.headergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}
